body{
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Rubik', sans-serif
}
nav img{ 
    height: 40px;
}
h1{
    color: rgb(12, 3, 34);
    font-family: Arial, Helvetica, sans-serif, bold;
    font-size: 8ch;
    font-weight: bolder;

}
.moon-color{
    color: rgb(19, 126, 81);
}
a{
    font-size: 20px;
    font-family: Impact 'Arial Narrow Bold';
}
.bag-height{
 
    height: 600px
}
.thum-img{
    width: 400px;
    height:500px;
}
.first-btn{
    background-color: rgb(13, 12, 75);
    border-radius: 10px;
    color: white;
    width: 150px;
    height: 70px;
    
}

button img{
    height: 20px;
    width: 20px;
    overflow: hidden;
}
.adjust-card{
    height: 600px;
}

.adjust-card img{ height: 250px;
}
.bonus-img{
    overflow: hidden;
    width: 100%;
    height: 350px;}
.icon-img{
        height: 120px;
    }
